@import "../../css/utils/variables";
    
.cardBackground {
margin: 32px $marginLarge; //1 rem = 16px
padding: 2rem;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
border-radius: 25px;
background-color: #F7F7F7;
}

.cardContainer {
width: 340px;
height: 340px;
margin: 0 10px 50px 10px;
border-radius: 10px;
display: flex;
justify-content: flex-start;
align-items: flex-start;
background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
background-color: $colorPrimary;

    &__:hover {
        box-shadow: 4px 6px 11px 4px rgba(0, 0, 0, 0.8);
    }

    .cover {
        object-fit: cover;
        width: 100%;
        height: 80%;
        border-radius: 10px 10px 0 0;
        opacity: 0.8;
    }

    .cardTitle {
        display: flex;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        position: absolute;
        align-items: flex-end;
        color: $colorSecond;
        line-height: 142.6%;
        overflow-wrap: break-word;
        width: 21%;
        padding-left: 1rem;
        padding-top: 17.5rem;
        text-decoration: none;
    }
}


//////////MEDIA QUERIES MOBILE//////////
@media (max-width: $sizeMobile) {

    .cardBackground {
        background: none;
        border-radius: 10px;
        margin: 32px 0;
        padding: 0;
        justify-content: space-around;
        display: block;
    }

    .cardContainer {
        margin: 16px $marginMobile 32px $marginMobile;
        height: 255px;
        max-width: 100%;
        width: auto;

        .cover {
            height: 78%;
        }

        .cardTitle {
            padding-top: 13rem;
            font-size: 13px;
            width: 80%;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .cardContainer {
        .cardTitle {
            width: 30%;
        }
    }
}
